body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
}
nav ul li{
    margin:  0px 0px 0px 50px;
}
header{
   padding: 30px 50px;
   box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    color:#3b506c;
}
.banner{
    text-align: center;
}
.banner h1{
    font-size: 70px;
    color: #3b506c;
    margin: 90px 0px 0px 0px ;
}
.banner h1 span{
color: #0c66ff;
}
.banner p{
font-size: 17px;
color: #3b506c;
}
.banner img{
    width: 50%;
    margin: 20px 0px 0px 0px ;
}